extends layout

block content
  .container
    if message.length > 0
      .alert.alert-danger #{message}
    form.form-signin(action="/login", method="post")
      h2.form-signin-heading Please sign in
      input.input-block-level(type="text", name="username", placeholder="Email address" value="henrique_santiago93@hotmail.com")
      input.input-block-level(type="password", name="password", placeholder="Password" value="123456")
      button.btn.btn-large.btn-primary(type="submit") Sign in
