extends layout

block content
  body
    include projectnav
    .container
      h3 Magnetic Field Report
        span &nbsp;
        a.btn.btn-default(href="/transmissionline/" + transmissionLine.id) Back

      div.panel.panel-default
        div.panel-heading Chart
        div.panel-body
          canvas#myChart(height="200")
          script.
            var ctx = document.getElementById("myChart");
            var scatterChart = new Chart(ctx, {
              type: 'line',
              xAxisID: 'oi',
              yAxisID: 'hey',
              data: {
                datasets: [{
                  label: 'Magnetic Field Profile',
                  data: !{JSON.stringify(magneticFieldProfile)}
                }]
              },
              options: {
                scales: {
                  xAxes: [{ 
                    type: 'linear', 
                    position: 'bottom', 
                    scaleLabel: { display: true, labelString: 'Profile X (m)' } 
                  }],
                  yAxes: [{
                    scaleLabel: { display: true, labelString: 'Magnetic Field (μT)' } 
                  }],
                }
              }
            });

      div.panel.panel-default
        div.panel-heading Profile
        div.panel-body
          table.table
            thead
              tr
                th X
                th Magnetic Field (μT)
            tbody
              - each pos in magneticFieldProfile
                tr
                  td #{pos.x}
                  td #{pos.y.toFixed(2)}
