block projectnav
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        a.navbar-brand(href="http://www.fluxoengenharia.com.br") Fluxo Engenharia
        a.btn.btn-default.navbar-btn(href="/logout") Logout
